.renovo-map{
width: 350;
height: 350;
border: 0;
}
.section-title{
margin-left:10rem ;
align-items: center;
}
.textLocal{
    text-transform: uppercase;
	margin: 0 68px 20px 0;
	font-weight: 800;
	font-size: 40px;
	color: #333;

}